geopandas==0.14.4
h5py==3.11.0
# keras==3.3.3
# numpy==1.26.4
pandas==2.2.2
Shapely==2.0.4
six==1.16.0
# tensorflow==2.16.1
tqdm==4.65.0

jaydebeapi==1.2.3
matplotlib==3.7
numpy==1.26.1
streamlit==1.27.2
deprecation
shapely

fastapi
uvicorn[standard]
python-multipart

Cmake
asyncpg
requests
aiokafka
brotli
kafka-python
pydantic-settings